<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Visualizer</title>
</head>
<body>
    
    <h1>Hello {{t.first_name}}!</h1>

    <h2>
        Data for your spotify account: 
        <a href="{{t.profile_url}}">{{t.display_name}}</a>    
    </h2>

    <ul>
        <li>Followers: {{t.followers}}</li>
        <li>Total Tracks Saved: {{t.total_tracks}}</li>
        <!-- <li>Playlist Count: {{t.playlist_count}}</li> -->
        <!-- Other stuff Perhaps -->
    </ul>

    <h2>Visualization Categories</h2>

    <a href="/visualizer/artists">Artists</a>
    <a href="/visualizer/genres"></a>Genres</a>

</body>
</html>