/* Import for now */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}

nav {
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    height: 65px;
    margin-bottom: 40px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 50;
}

a {
    text-decoration: none;
    color: rgba(250, 249, 246, .85);
    cursor: pointer;
} a:visited {
    text-decoration: none;
    color: rgba(250, 249, 246, .85);
}

button {
    background: none;
    border: 1px rgb(250, 249, 246, .2) solid;
    color: rgba(250, 249, 246, .85);
    outline: none;
    padding: 0;
    cursor: pointer;
}

input {
    outline: none;
}

hr {
    border-style: solid;
}

li {
    list-style: none;
}

fieldset {
    border: none;
}

legend {
    font-size: 18px;
    font-weight: 500;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.container {
    max-width: 1280px;
    padding: 0 20px;
    width: 100%;
}

.header-container {
    margin: -15px 0;
    padding-top: 30px;
    position: sticky;
    top: 65px;
    z-index: 49;
}

.header-container hr {
    margin-top: 3px;
    opacity: .5;
}

.header-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title-container h2 {
    font-size: 25px;
}

/* ----------------------------- */
/* ------ Dashboard Route ------ */
/* ----------------------------- */
#meta-title {
    font-size: 30px;
}


/* ---------------------------- */
/* ------ Playlist Route ------ */
/* ---------------------------- */
#playlist-duration {
    font-size: 12px;
    margin-top: 3px;
    opacity: .5;
}


/* ------------------------ */
/* ------ Responsive ------ */
/* ------------------------ */
@media screen and (min-width: 768px) { 

    nav {
        font-size: 17px;
    }
    
    .container {
        width: 95%;
    }

    .header-title-container h2 {
        font-size: 27px;
    }

    #meta-title {
        font-size: 32px;
    }

    #playlist-duration {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {   

    .container {
        width: 90%;
    }
}

@media screen and (min-width: 1280px) {

    nav {
        font-size: 18px;
    }

    .container {
        width: 80%;
    }

    .header-title-container h2 {
        font-size: 28px;
    }

    #meta-title {
        font-size: 30px;
    }

    #playlist-duration {
        font-size: 16px;
    }
}

@media screen and (min-width: 1440px) { 

    .container {
        width: 75%;
    }
}

/* --------------------------------------- */
/* ------ Color Scheme Design Stuff ------ */
/* --------------------------------------- */
.bg-color {
    background-color: rgba(18, 18, 18, 1);
}

.txt-color {
    color: rgba(250, 249, 246, .85);
}

.accent {
    color: rgba(30,215,96,1);
}

.grey-border-2 {
    border: 1px rgb(250, 249, 246, .2) solid;
}

.grey-border-3 {
    border: 1px rgb(250, 249, 246, .3) solid;
}

.faded {
    opacity: .5;
}

.elevated {
    box-shadow: 0px 22px 16px -22px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 22px 16px -22px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 22px 16px -22px rgba(0,0,0,0.5);
}

.success-msg {
    color: rgba(30,215,96,1);
}

.error-msg {
    color: rgba(195, 43, 43, 1)
}
