<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Spotify Visualizer</title>
</head>
<body> 
    <h1>Login:</h1>

    <form id="loginForm" action="/login" method="POST">
        <label for="username">Username:</label>
        <input id="username" type="text" name="username" required>

        <label for="password">Password:</label>
        <input id="username" type="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <script src="{{url_for('static', filename='js/auth/login.js')}}"></script>
</body>
</html>