<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Visualizer Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    
    {% include "_header.html" %}

    <div class="user-section container">
        <div class="user-section_header">
            <img class="user-section_spotify-logo" src="{{url_for('static', filename='img/spotify_assets/logo/Spotify_Logo_RGB_Green.png')}}" alt="Spotify Logo">
            <img id="profile-picture" src={{t.profile_img}} alt="Spotify Profile Picture">
        </div>
        
        <a href="{{t.profile_url}}">{{t.display_name}}</a>

        <div class="user-section_user-stats">
            <ul>
                <li>Liked Songs: {{t.total_tracks}}</li>
                <li>Playlists: {{t.playlist_count}}</li>
            </ul>               
            <ul>
                <li>Followers: {{t.followers}}</li>
                <li>Following: {{t.following}}</li>
            </ul>
        </div>
    </div>

    <div class="playlists container">
        <h1>Your Playlists:</h1>

        <a class="playlist" href="/playlist/liked-songs">
            <div class="playlist_album-art">

            </div>

            <div class="playlist_meta">
                <h2>Liked Songs</h2>
                <p>Tracks: {{t.total_tracks}}</p>
            </div>
        </a>

        {% for playlist in t.playlists %}
            <a class="playlist" href="/playlist/{{playlist.id}}">
                <div class="playlist_album-art">
                    
                </div>

                <div class="playlist_meta">
                    <h2>{{playlist.get("name")}}</h2>
                    <p>Tracks: {{playlist.get("track_count")}}</p>
                </div>
            </a>
        {% endfor %}

    </div>
</body>
