<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Spotify Visualizer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

    <script src="https://kit.fontawesome.com/f0a5ef4c3d.js" crossorigin="anonymous"></script> <!-- For Now -->
</head>

<body class="bg-color txt-color">
    {% include "_header.html" %}

    <div id="spotify-profile-header" class="container">
        <div class="mobile-meta-arrow-container">
            <img id="meta-arrow-left" class="meta-arrow meta-arrow-off"
            src="{{url_for('static', filename='svg/playlist-meta-left.svg')}}" alt="">
        </div>

        <div class="header-meta-container">
            <div id="meta-image">
                <img id="spotify-profile-picture" src={{t.profile_img}} alt="Spotify Profile Picture">
            </div>
            <div id="header-meta" style="display: none;">
                <ul>
                    <li>Followers: {{t.followers}}</li>
                    <li>Following: {{t.following}}</li>
                </ul>
                <ul>
                    <li>Total Playlists: {{ t.playlist_count }}</li>
                </ul>

                <a id="profile-url" href="{{ t.profile_url }}" target="_blank">Open Spotify Profile</a>
            </div>
        </div>

        <div class="mobile-meta-arrow-container">
            <img id="meta-arrow-right" class="meta-arrow"
            src="{{url_for('static', filename='svg/playlist-meta-right.svg')}}" alt="">
        </div>
    </div>

    <div class="container">
        <h1 id="users-display-name">{{ t.display_name }}</h1>
    </div>
   
    <div id="your-playlists-header" class="container elevated">
        <div id="your-playlists-header-labels">
            <h2>Your Playlists:</h2>
            <div id="playlists-filter-view">
                <i class="fa-solid fa-sort"></i>
                <span>Default</span>
            </div>
        </div>
        <hr>
        <!-- Filter Options Here -->
        <span id="toggle-playlists-filter">&#9660;</span>
    </div>
   
    <div id="playlists" class="container">
        <a class="playlist" href="/playlist/liked-songs">
            <div class="playlist_album-art">
                <img id="default-playlist-img" src="{{ url_for('static', filename='img/spotify_assets/icon/Spotify_Icon_RGB_Green.png') }}" alt="Liked Songs cover art.">
            </div>

            <div class="playlist_meta">
                <h3>Liked Songs</h3>
                <p>Tracks: {{t.total_tracks}}</p>
            </div>

            <div class="playlist-caret">
                <img class="playlist-caret-svg" src="{{url_for('static', filename='svg/right.svg')}}" alt="">
            </div>
        </a>

        {% for playlist in t.playlists %}
            <a class="playlist" href="/playlist/{{playlist.id}}">
                <div class="playlist_album-art">
                    {% if playlist.image %}
                        <img id="playlist-image" src="{{playlist['image'].get('url')}}" alt="Cover art for '{{playlist.get('name')}}' playlist." loading="lazy">
                    {% else %}
                        <img id="default-playlist-img" src="{{url_for('static', filename='img/spotify_assets/icon/Spotify_Icon_RGB_Green.png')}}" alt="Default cover art for '{{playlist.get('name')}}' playlist." loading="lazy">
                    {% endif %}
                </div>

                <div class="playlist_meta">
                    <h3>{{playlist.get("name")}}</h3>
                    <p>Tracks: {{playlist.get("track_count")}}</p>
                </div>

                <div class="playlist-caret">
                    <img class="playlist-caret-svg" src="{{url_for('static', filename='svg/right.svg')}}" alt="">
                </div>
            </a>

        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/mobile-header/metaArrows.js') }}"></script>
    {% include "_footer.html" %}
</body>
