<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liked Songs | Spotify Visualizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="bg-color txt-color">
    {% include "_header.html" %}

    <div class="playlist-header container">
        <div class="mobile-meta-arrow-container">
            {% if update == False %}
                <img id="meta-arrow-left" class="meta-arrow meta-arrow-off"
                src="{{url_for('static', filename='svg/playlist-meta-left.svg')}}" alt="">
            {% else %}
                <img id="meta-arrow-left" class="meta-arrow"
                    src="{{url_for('static', filename='svg/playlist-meta-left.svg')}}" alt="">
            {% endif %}  
        </div>

        <div class="header-meta-container">
            {% if update == False %}
                <div id="meta-image">
                    <img id="default-playlist-img"
                        src="{{url_for('static', filename='img/spotify_assets/icon/Spotify_Icon_RGB_Green.png')}}"
                        alt="Liked Songs cover art.">
                </div>
                <div id="header-meta" style="display: none;">
            {% else %}
                <div id="meta-image" style="display: none;">
                    <img id="default-playlist-img"
                        src="{{url_for('static', filename='img/spotify_assets/icon/Spotify_Icon_RGB_Green.png')}}"
                        alt="Liked Songs cover art.">
                </div>
                <div id="header-meta">
            {% endif %}
                    <div id="last-update-container">
                        <span style="font-size: 17px;">Last Updated:</span>
                        <span style="opacity: .8;">{{ playlist.meta.get("updated_at").strftime("%m/%d/%Y %-I:%M %p") }}</span>
                        <button id="update-playlist-btn" value="{{ playlist.id }}">Update Playlist</button>
                    </div>
                </div>
        </div>

        <div class="mobile-meta-arrow-container">
            {% if update == False %}
                <img id="meta-arrow-right" class="meta-arrow"
                    src="{{url_for('static', filename='svg/playlist-meta-right.svg')}}" alt="">
            {% else %}
                <img id="meta-arrow-right" class="meta-arrow"
                    src="{{url_for('static', filename='svg/playlist-meta-right.svg')}}" alt="">
            {% endif %}  
        </div>
    </div>

    <div class="container" style="text-align: center;">
        <h1 id="playlist-name">Liked Songs</h1>
        <p id="playlist-duration">{{ playlist.get_total_duration_string() }}</p>
    </div>

    <!-- <button>Visualizer</button> -->

    <div id="playlist-tracks-header" class="container elevated">
        <div id="playlist-tracks-labels">
            <h2 id="tracks-header">Tracks:</h2>
            <div id="tracks-filter-view" class="playlist-tracks-labels_analysis">
                <span>BPM</span>
                <span>KEY</span>
            </div>
        </div>

        <hr>
        <!-- Filter Options Here -->
        <span id="toggle-tracks-filter">&#9660;</span>
    </div>

    <div id="playlist-tracks" class="container">
        <span id="playlist-total-tracks">Total: {{ playlist.total_tracks }}</span>
        {% for track in playlist.tracks %}
            <a class="track" href="#">
                <div class="track_album-cover">
                    {% if track.album_cover %}
                        <img src="{{ track.album_cover }}" alt="{{ track.name }} album cover">
                    {% else %}
                        <img id="default-playlist-img"
                            src="{{url_for('static', filename='img/spotify_assets/icon/Spotify_Icon_RGB_Green.png')}}"
                            alt="Album Cover">
                    {% endif %}
                </div>
                <div class="track-meta">
                    <div class="track-meta_identifiers">
                        <h3 class="track-meta_name truncate-track-meta">{{ track.name }}</h3>
                        <p class="track-meta_artists truncate-track-meta">{{ track.get_artists_string() }}</p>
                    </div>
                    <div class="track-meta_analysis">
                        <span id="track-meta_analysis-bpm">{{ track.bpm }}</span>
                        <span id="track-meta_analysis-key">{{ track.camelot_notation }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <script src="{{url_for('static', filename='js/mobile-header/metaArrows.js')}}"></script>
    <script src="{{url_for('static', filename='js/playlist/updateButton.js')}}"></script>
    {% include "_footer.html" %}
</body>
</html>